@font-face {
    font-family: "chalk";
    src: url('../font/Amandine.ttf');
}

body{
  background: url(../images/slate.jpg) repeat;
  color: #fff;
}



div.wrap {
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: : no-repeat;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}
.wrap-header {
    background-image: url(../images/ceyreste.jpg);
    min-height: 600px;
    margin-top: 60px;
    padding-top:60px;
}


.wrap-header h2 {
	margin-bottom:25px;
}

.wrap-header p {
	font-size: 18px;
}

.wrap-header .container {
   margin-bottom:40px;
}

.fixed-header{
    height: 60px;
    background: inherit;
}

.fixed-header, .fixed-header .tel a, .footer{
    color: #ddd;
}

.wrap-pizza{
    background-image: url(../images/pizza.jpg) ;
    min-height: 400px;
}

.wrap-camion {
    background-image: url(../images/camion-d-ugo.jpg) ; 
    min-height: 800px;
    margin-top: 60px;
    padding-top:60px;
}

.tel a{
    text-decoration: inherit;
    color: inherit;
}


.fixed-header .info p:first-child{
    margin-top: 10px;    
}

.fixed-header .info p{
    font-size: 16px;
    line-height: 16px;
}

.fixed-header .tel a{
    font-size: 36px;
}

h1{
    display: none;   
}





.pizzas{
    font-family: chalk;
    color: #fff;
}

.pizzas-classiques span.name, .pizzas-classiques h3{
    color: #F7FAC3;   
}

.pizzas-speciales span.name, .pizzas-speciales h3{
    color: #DFC4D1;   
}

.pizzas-blanches span.name, .pizzas-blanches h3{
    color: #AFD1B8;   
}

.pizzas-pitchounes span.name, .pizzas-pitchounes h3{
    color: #A4CDE3;   
}

.pizzas-sucrees span.name, .pizzas-sucrees h3{
    color: #FBB6A7;   
}

.pizzas-mois span.name, .pizzas-mois h3{
    color: white;   
}


.pizzas h3{
    font-size: 64px;
    margin-top: 40px;
}

.pizza p{
    font-size: 22px;
}


#map_canvas {
    width: 100%;
    height: 400px;
    background-color: #CCC;
}

.footer{
    margin-top: 4px;
}