@font-face {
    font-family: "chalk";
    src: url('../font/Amandine.ttf');
}

body{
  padding-top: 65px;
}

body, .fixed-header{
  background: url(../images/slate.jpg) repeat;
  color: #fff;
}

a{
    text-decoration: inherit;
    color: inherit;
}

div.wrap {
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: : no-repeat;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}
.wrap-header {
    background-image: url(../images/ceyreste.jpg);
    min-height: 900px;
    padding-top:60px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
}

.wrap-header hgroup{
     text-transform: uppercase;   
}

.wrap-header p.address{
    display: none;
}

.wrap-header h2 {
	margin-bottom:35px;
    font-size: 80px;
}

.wrap-header h1{
    display: none;   
}


.wrap-header p {
	font-size: 18px;
}

.wrap-header .container {
   margin-bottom:40px;
}

.wrap-header div.social-bar{
    width: 100px;
    margin: auto;
}


.wrap-header dl{
    background: url(../images/slate.jpg) repeat;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
	color: rgba(255,255,255,1);
    padding: 10px 0px 5px 20px;
    font-family: chalk;
    color: #fff;
    font-size: 24px;   
    width: 200px;
}

.wrap-header dl dt {
	font-size: 32px;   
    text-decoration: underline;
    
}


.wrap-header dl {
    text-align: left;   
}

.fixed-header, fixed-header .tel a, .footer{
    color: #ddd;
}

.wrap-pizza{
    background-image: url(../images/pizza.jpg) ;
    min-height: 500px;
}

.wrap-camion {
    background-image: url(../images/camion-d-ugo.jpg) ; 
    min-height: 800px;
    margin-top: 60px;
    padding-top:60px;
}






.fixed-header .info p, .footer .info p{
    font-size: 16px;
    line-height: 16px;
    text-align: right;
}

.fixed-header .tel a{
    font-size: 36px;
}

.pizzas{
    font-family: chalk;
    color: #fff;
    padding-top: 20px;
}

.pizzas-classiques span.name, .pizzas-classiques h3{
    color: #F7FAC3;   
}

.pizzas-speciales span.name, .pizzas-speciales h3{
    color: #DFC4D1;   
}

.pizzas-blanches span.name, .pizzas-blanches h3{
    color: #AFD1B8;   
}

.pizzas-pitchounes span.name, .pizzas-pitchounes h3{
    color: #A4CDE3;   
}

.pizzas-sucrees span.name, .pizzas-sucrees h3{
    color: #FBB6A7;   
}

.pizzas-mois span.name, .pizzas-mois h3{
    color: white;   
}


.pizzas h3{
    font-size: 64px;
    margin-top: 40px;
}

.pizza p{
    font-size: 22px;
}

.pizza.hidden-xs span.price{
    text-align: right;   
}


#map_canvas {
    width: 100%;
    height: 864px;
    background-color: #CCC;
}

.footer{
    margin-top: 4px;
}


a i.fa-social {
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    display: block;
    margin-left: 10px;
    padding-top: 9px;
    font-size: 12px;
    line-height: 0.45em;
    vertical-align: -15%;    
}

a i.fa-facebook{
    background: #3b5998;
}

a i.fa-google-plus{
    background: #dd4b39;
}

div.social-bar a {
    float:left;
}

div.social-bar{
    margin: auto;
}


@media (max-width: 767px){
    .wrap-header {
        background: inherit!important;
        min-height: 400px;
        height: 460px;  
        
    }
    .wrap-header dl{
        display: none;   
    }
    
    .wrap-header hgroup{
        text-transform: none;
    }
    
    .wrap-header h1{
        display: inherit!important; 
        font-size: 64px
    }
    
    .wrap-header h2{
        display: none;
    }
    
    .wrap-header p.address{
        display: inherit!important;
    }
    
    #map_canvas {
        height: 400px;
    }
}