@font-face {
    font-family: "chalk";
    src: url('../font/Amandine.ttf');
}

body{
  background: url(../images/slate.jpg) repeat;
  color: #fff;
}

.fixed-header{
    height: 60px;
    color: inherit;
    background: inherit;
}

.tel a{
    color: inherit;
    text-decoration: inherit;
}


.fixed-header .info p:first-child{
    margin-top: 10px;    
}

.fixed-header .info p{
    font-size: 16px;
    line-height: 16px;
}

.fixed-header .tel a{
    font-size: 36px;
}

h1{
    display: none;   
}


#headerwrap {
    width: 100%;
    background: url(../images/ceyreste.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;;
    min-height: 600px;
    margin-top: 60px;
    padding-top:60px;
    text-align:center;
}

#headerwrap h2 {
	margin-bottom:25px;
}

#headerwrap p {
	font-size: 18px;
}

#headerwrap .container {
   margin-bottom:40px;
}

.pizzas{
    font-family: chalk;
    color: #fff;
}

.pizzas-classiques span.name, .pizzas-classiques h3{
    color: #F7FAC3;   
}

.pizzas-speciales span.name, .pizzas-speciales h3{
    color: #DFC4D1;   
}

.pizzas-blanches span.name, .pizzas-blanches h3{
    color: #AFD1B8;   
}

.pizzas-pitchounes span.name, .pizzas-pitchounes h3{
    color: #A4CDE3;   
}

.pizzas-sucrees span.name, .pizzas-sucrees h3{
    color: #FBB6A7;   
}

.pizzas-mois span.name, .pizzas-mois h3{
    color: white;   
}


.pizzas h3{
    font-size: 64px;
    margin-top: 40px;
}

.pizza p{
    font-size: 22px;
}


#map_canvas {
    width: 100%;
    height: 400px;
    background-color: #CCC;
}
